Pokedex/Pokedex.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Pokedex/Pokedex.xcodeproj/project.xcworkspace/xcuserdata/danielevalente.xcuserdatad/UserInterfaceState.xcuserstate
Pokedex/Pokedex.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Pokedex/Pokedex.xcodeproj/xcuserdata/danielevalente.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Pokedex/Pokedex.xcodeproj/xcuserdata/danielevalente.xcuserdatad/xcschemes/xcschememanagement.plist
Pokedex/.DS_Store
.DS_Store
